<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
        <!-- Add Reveal.js initialization script here -->
        <script src="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reveal.js"></script>
        <script>
          Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,
            transition: 'slide'
          });
        </script>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>

<!-- support for embedded visualizations -->
{% include embedding.html %}

</html>
