---
layout: default
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reset.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reveal.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/theme/black.css">
<link rel="stylesheet" href="css/main.css">
<div class="reveal">
  <div class="slides">
    
{{ content}}
 

</div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reveal.js"></script>
<script>
  Reveal.initialize();
</script>
