---
layout: default
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reset.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reveal.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/theme/black.css">

<div class="reveal">
  <div class="slides">
    {{ content }}
  </div>
</div>

<!-- Include Annodoc.js from the "lib/local" directory -->
<script src="lib/local/annodoc.js"></script>
<script src="lib/local/config.js"></script>
<script src="lib/local/brat/annotation_log.js"></script>
<script src="lib/brat/configuration.js"></script>
<script src="lib/brat/dispatcher.js"></script>
<script src="lib/brat/url_monitor.js"></script>
<script src="lib/brat/util.js"></script>
<script src="lib/brat/visualizer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reveal.js"></script>
<script>
  Reveal.initialize();
</script>
