---
layout: slides
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reset.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reveal.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/theme/black.css">
<link rel="stylesheet" href="css/main.css">
<div class="reveal">
  <div class="slides">
    
<div class="entry">

  <header class="entry-header">
    <h1>{{ page.title }}{% if page.shortdef %}: {{ page.shortdef }}{% endif %}</h1>
  </header>

  <article class="entry-content">
{{ content}}
  </article>

</div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.2.0/dist/reveal.js"></script>
<script>
  Reveal.initialize();
</script>
